*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-image: url(../assets/backg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body #emoji {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.d-initial {
  display: initial;
}

.d-none {
  display: none;
}

.buttons-area, .stats-area {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.canvas-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-container__canvas {
  border: 1px solid black;
  margin: auto;
  z-index: -1;
}

button {
  padding: 0.6rem 1.2rem;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(white));
  background: linear-gradient(to right, blue, white);
  border: 1px solid blue;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

button button:hover {
  padding: 0.8rem 1.6rem;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
}
